html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #121212;
    --header-load-time: 400ms;
    --content-load-time: calc(var(--header-load-time) + 400ms);
}

.container{
    align-items: center;
    padding: 20px 100px;
    text-align: left;  
    animation: content-load var(--content-load-time);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
    background-color: orange;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    width: max-content;
    animation: header-load var(--header-load-time) ease-in;
}

span {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    color: #FFF;
}

form {
    display: flex;
    flex-direction: column;
    border-color: orange;
    border-style: groove;
    padding: 15px;
    border-radius: 15px;
    animation: content-load var(--content-load-time);
}

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;

    border: 2px solid white;
    transition: 0.2s all linear;
    margin-right: 1rem;
}

input[type="radio"]:checked {
    border: 5px solid  #FFA31A;

}

#pt4_question {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#pt4_question div > input {
    margin: 0 10px;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    width: 250px;
    height: 40px;
    background-color: orange;
    color: black;
    border-radius: 10px;
    margin: 10px;
}

.choicesContainer {
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
    outline: orange solid 2px;
    padding: 20px;
    border-radius: 10px;
    animation: content-load var(--content-load-time);
}

h5 {
    cursor: pointer;
}

.dropZone {
    display: flex;
    flex-direction: column;
    outline: orange dashed 2px;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
    /* padding: 15px; */
    text-align: center;
}

/* .CLassResults-div, th{
    font-family: Arial, Helvetica, sans-serif;
    color: #121212;
    background-color: orange;
    padding: 0.8rem 1.1rem;
    border-radius: 10px;
    width: max-content;
    margin: auto;
} */

/* td, th {

    border-radius: 10px;
    width: max-content;
    font-size: large;
    text-align: center;
} */

#results {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
}

table {
    border: 2px solid orange;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    height: auto;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: white;
}

th, td {
    border: 1px solid orange;
    padding: 10px;
}

#quizTitle, .sectionTitle {
    display: flex;
    width:auto;
    justify-content: center;
}

.mt_choices{
    margin: 10px;
    color: #FFA31A;
}

#button_container{
    text-align: center;
}

.buttons{
    align-items: center;
    background: #FFA31A;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 25%;
    margin: 20px;
    font-family: 'Courier Prime', monospace;
    font-size: medium;
}
.buttons:hover,
.buttons:focus{
    background: #ee670d;
}

td.passed {
    color: rgb(6, 226, 6)
}

td.failed {
    color: rgb(230, 20, 20)
}

section#results.hidden {
    display: none;
}
@keyframes header-load {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes content-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

