html, *{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family:'Courier Prime';
    src: url("../misc/Courier_Prime/CourierPrime-Regular.ttf");
}

body {
    font-family: 'Courier Prime', monospace;
    background: black;
    color: white;
    --header-load-time: 400ms;
    --content-load-time: calc(var(--header-load-time) + 400ms);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

#logo{
    display: block;
    max-width: 20%;
    /* height: auto; */
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    margin-bottom: 20px;
    animation: content-load var(--content-load-time) ease-in;
}

#group_name{
    width: 15%;
    animation: header-load var(--header-load-time) ease-in;
}

#message{
    text-align: center;
    float: none;
    animation: content-load var(--content-load-time) ease-in;
}
#options{
    margin-left: 10px;
    animation: content-load var(--content-load-time) ease-in;
}
#button_container{
    text-align: center;
}
.buttons{
    align-items: center;
    background: #FFA31A;
    color: black;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    width: 25%;
    margin: 20px;
    font-family: 'Courier Prime', monospace;
    font-size: medium;
    animation: content-load var(--content-load-time) ease-in;
}
.buttons:hover,
.buttons:focus{
    background: #ee670d;
}

#options_section{
    width: 50%;
    text-align: center;
    font-family: 'Courier Prime', monospace;
}

@keyframes header-load {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes content-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
    
}